{% extends 'layout.html' %}
{% block content %}

<!--<span style="color:blue;font-weight:bold">blue</span>-->
 <div class="main">
   <div class="home-img">
      <img src="/static/website_images/1.jpg"> <!--This is the path to the images-->
  </div> 
   <div class="container-nav">
      <div class="topnav"></div>
  </div>
      <div class="icon">   
        <div class="logo">
          <div class="text-left-about">T.O.O</div>
          <div class="404">Sorry the page you are trying to access cannot be found</div>
      </div>
    </div>
 </div>
<!-- finish coding 'exception' per se, just a reroute if page isn't found -->