{% extends 'layout.html' %}
{% block content %}


<!--<span style="color:blue;font-weight:bold">blue</span>-->
 <div class="main">
   <div class="home-img">
      <img src="/static/website_images/3.jpg"> <!--This is the path to the images-->
  </div> 
   <div class="container-nav">
      <div class="topnav"></div>
  </div>
      <div class="icon">   
        <div class="logo">
          <div class="text-left-about">T.O.O</div>
      </div>
    </div>
     <div class="text-about">Welcome to Tribes Of Oceania. We are a growing site so please have patience with us. More data will be available soon!
   This site was created for the purpose to inform people about the various different tribes located throughout oceania.
   I should also mention this website is the product of a software engineering class.</div>
 </div>
{%endblock%}

   <!--to randomize img returned on page load implement this 
   var numRand = Math. floor(Math. random() * 101);--> 