{% extends 'layout.html' %}
{% block content %}

<!--<span style="color:blue;font-weight:bold">blue</span>-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
   <div class="home-img">
      <img src="/static/website_images/4.jpg"> <!--This is the path to the images-->
  </div> 
   <div class="container">
      <div class="topnav">
      <div class="login">
      </div>
  </div>
   </div>
      <div class="icon">   
        <div class="logo">
          <div class="text-centered-home">Tribes of Oceania</div>
      </div>
      </div>
     <div class=text-home>Welcome to Tribes Of Oceania. We are a growing site so please have patience with us. More data will be available soon!</div>
     
     
{%endblock%}

