{% extends 'layout.html' %}
{% block content %}

<!--<span style="color:blue;font-weight:bold">blue</span>-->
 <div class="main">
   <div class="home-img">
      <img src="/static/website_images/7.jpg"> <!--This is the path to the images-->
  </div> 
   <div class="container">
      <div class="topnav">
      </div>
  </div>
      <div class="icon">   
        <div class="logo">
          <div class="text-centered-tribes">T.O.O</div>
      </div>
    </div>
   </div>
   <div class="text-tribes">Hello, as we are a growing site. I ask that you have patience with us as the tribe you may be looking for might not be in our systems yet. Thank you for your understanding.  </div>
<div class="db_box">
</div>



{%endblock%}

<!-- when creating the box / container for the database to go into / on top of, use a 50% opacity colour to match nav bar --> 